@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.app {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(rgb(238, 209, 175), rgb(209, 165, 238));
  height: 100vh;
  color: rgb(44, 44, 44);
  font-size: 1.2rem;
}

.mainContainer {
  width: 90%;
  margin: auto;
}
