.header {
  background-color: rgba(255, 255, 255, 0.144);
}

.navContainer {
  padding: 0 2em 0;
  display: flex;
  justify-content: space-between;
}

.ulContainer {
  display: flex;
  justify-content: flex-end;
}

.liNavItem {
  list-style: none;
  padding: 0.7em;
}

.NavLink {
  color: rgb(83, 26, 137);
  font-size: 1.1em;
  text-decoration: none;
}

.active {
  border-bottom: rgb(63, 15, 109) 3px solid;
}
